body {
    background-color: aliceblue;
}

.Home-page {
    padding: 30px;
    display: flex;
}

.caption {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-left: 5%;
    color: #e3215e;
}

.icon {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.practice-details {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;

}

.my-plan {
    width: 20%;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 7px 10px 35px -18px rgba(0, 0, 0, 1);
}

.my-name {
    display: flex;
    align-items: center;
}

.my-name img {
    margin-right: 7px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.my-info {
    margin-top: 20px;
    color: white;
    background-color: #e3215e;
    padding: 8px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.break-times {
    display: flex;
    align-items: center;
    color: white;
}

.break-time {
    text-align: center;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 15px;
    background-color: #e3215e;
    box-shadow: 7px 10px 35px -18px rgba(0, 0, 0, 1);
}

.break-time p {
    margin: 0px;
    font-weight: bold;
}

.practice-time p,
.rest-time p {
    text-align: center;
    padding-top: 10px;
    width: 200px;
    height: 30px;
    background-color: #e3215e;
    border-radius: 10px;
    color: white;
}

.complete-button {
    width: 95%;
    height: 32px;
    color: white;
    background-color: #e3215e;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    padding-top: 10px;
    border-radius: 0px 50px;
    box-shadow: 7px 10px 35px -18px rgba(0, 0, 0, 1);
}

/* Responsive  for tablet */

@media screen and (max-width: 1280px) {
    .practice-details {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }

    .Home-page {
        flex-direction: column;
    }

    .my-plan {
        width: 100%;
        margin-top: 20px;
    }
}

/*========>  Responsive for Mobile device  <======== */

@media screen and (max-width: 600px) {
    .Home-page {
        flex-direction: column;
    }

    .practice-details {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr)
    }

    .my-plan {
        width: 100%;
        margin-top: 20px;
    }

    .my-info p {
        padding-right: 8px;
    }
}