.Home-page {
    padding: 30px;
    background-color: aliceblue;
    display: flex;
}

.caption {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-left: 100px;
    color:#5856d6;
}

.icon {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.practice-details {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;

}

.my-plan {
    width: 20%;
    background-color: white;
    padding: 8px;
    border-radius: 10px;
}

.my-name {
    display: flex;
    align-items: center;
}

.my-name img {
    margin-right: 7px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.my-info {
    margin-top: 20px;
    color: white;
    background-color: #5856d6;
    padding: 8px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.break-times {
    display: flex;
    align-items: center;
    color: white;
}

.break-time {
    text-align: center;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 15px;
    background-color: #5856d6;
    box-shadow: 7px 10px 35px -18px rgba(0, 0, 0, 1);
}

.break-time p {
    margin: 0px;
    font-weight: bold;
}

.practice-time p,
.rest-time p {
    text-align: center;
    padding-top: 10px;
    width: 200px;
    height: 30px;
    background-color: #5856d6;
    border-radius: 10px;
    /* box-shadow: 7px 10px 35px -18px rgba(0, 0, 0, 1); */
    color: white;
}

.complete-button {
    width: 95%;
    height: 40px;
    color: white;
    background-color: #5856d6;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    padding-top: 15px;
    border-radius: 0px 50px;
    box-shadow: 7px 10px 35px -18px rgba(0, 0, 0, 1);
}

/* Responsive */
@media screen and (max-width: 580px) {
    .Home-page {
        flex-direction: column;
        background-color: aliceblue;
    }

    .practice-details {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr)
    }

    .my-plan {
        width: 100%;
        margin-top: 20px;
        background-color: white;
        padding: 8px;
        border-radius: 10px;
    }
}